{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Editar: {{ todo['description'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="description">Descripcion</label>
        <textarea class="description" name="description" id="description" required>{{ request.form['description'] or todo['description'] }}</textarea> <!-- Etiqueta name es para recibir los valores en BackEnd -->
        <br/>
        <label class="completed" for="completed">Completado</label>
        <input class="completed" type="checkbox" name="completed" id="completed" {% if todo['completed'] == 1 %}checked{% endif %} />
        <input type="submit" value="Guardar!"> <!-- Envia nuestro formulario al endpoint de todo.Create -->
    </form>
    <br/>
    <form action="{{ url_for('todo.delete', id=todo['id']) }}" method="POST">
        <input class="danger" type="submit" value="Eliminar" onclick="return confirm('Estas seguro de querer eliminarlo?')"/>
    </form>
{% endblock %}