{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Iniciar sesion{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form class="user-login" method="POST">
        <label for="username">Username</label>
        <input name="username" id="username" required /> <!-- Etiqueta name es para recibir los valores en BackEnd -->
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <input type="submit" value="Iniciar sesion"> <!-- Envia nuestro formulario al endpoint de Registro -->
    </form>
{% endblock %}